@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.background-colour{
  background: rgba(0, 0, 0, 0.932)
}


.fitness{
  font-weight:800;
  font-style: normal;
  font-size: 50px;
  color: rgb(255, 72, 43);  
}
/* --------------------------------------------------
----------------------------------------------------- */
  /* Shared Styles Start */
  .display-flex{
    display: flex;
   }

   .btn-primary{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: rgb(255, 255, 255);
   }
   .download-app{
    border: 1px solid rgb(255, 255, 255);
    background: url(88);
    border: 1px solid rgb(255, 255, 255);
    
   }
   
 
   /* Shared Styles End */
 
.header-container{

  margin: 0 auto;
  height: 0 auto;
  width: 1440px;
  border: 1px solid red;

  

}
.fitness{
  color:rgb(230, 83, 60);
  height: 44px;
  font-size: 36px;
  font-weight: 800;



}
.home{
  /* border: 1px solid red; */
  height:35px;
  width: 90px;
  align-content: center;
  align-items: center;
  border-radius: 46px;
  color: whitesmoke;
  background-color: rgb(230, 83, 0);


}



  .navbar
  {
   justify-content: space-around;
   align-items: center;
  
   
  }
  .nav-links{
    border: 1px solid rgba(255, 27, 27, 0.1);
    /* color: aliceblue; */
    height: 25px;
    width: 450px;
    font-weight: 400;
    padding: 8px;
    text-align:center;
    border-radius: 50px;
    list-style: none;
    gap: 48px;
    font-size: 22px; 
    align-content: center;
    align-items: center;

  }
.nav-item{
  text-align: center;
  align-items: center;
  color: azure;
}
.nav-link{
  text-decoration: none;
  color: white;

}

  
  .section-container{
    border: 2px solid rgb(207, 8, 191);
    justify-content: space-around;
  
  }
   .headline-content{
    color: rgb(255, 255, 255);
    font-size: 78px;

  
   }
   .shape{
    
   }
  
  .body-shape-content{
   width:550px ;
    border: 3px solid rgb(70, 83, 255);
    font-size: 40px;
    text-align: left;
  
  
  }
  
   .headline-paragraph{
    /* height: 48px; */
    margin: 28px 0px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);

   }
   
   .first-image-container{
    border: 1px solid greenyellow;
    width: 349px;
    height: 580px;
    margin-left: 87px;
    margin-right: 214px;
    display: block;
    
   }
   .first-image{
        /* margin-top: 80px; */

   }

   #first-image-block{
    display: block;
   }

   #free-workout-videos{
     color: aliceblue;
     background: rgba(255,255,255,0.1);
     width: 193px;
     height: 100px;
     line-height:1px;
     border-radius: 12px;
     backdrop-filter: blur(2px);
     margin-bottom: -00px;
     margin-left: 200px;
    }
    #free-workout-videos h1{
      font-size: 40px;  
    }

    #free-workout-videos p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);
    }

    #free-workout{
        padding: 10px 30px;
    }


   /* .video-tutorial{


    border-radius: 15px;
    height: 100px;
    width: 200px;
    color: aliceblue;
    background-color: rgba(173, 171, 171, 0.062);
    margin-left: -500px;
    margin-top: -200px;
   
   
   } */


   
   
   /* ------------------------------------------- */
   /* Starting of Main */

  .main-container{
   width: 0 auto;
   height: 0 auto;


  }
  .habits-parent{
align-items: center;
  }

  .habits-parent-content{
    text-align: center;


  }
  .habits-parent-content h1{
   
    height: 58px;
    margin: 14px 0px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    

  }
  .habits-parent-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;


  }
  .habit-images{
  border-radius: 100%;
  
  }
  .habits-image{
    /* border: 1px solid red; */
   justify-content: space-around;
   width: 1060px;
   margin: 0 auto;
  }

.change-habit-container{
  text-align: center;
  /* border: 1px solid orchid; */
}

.change-habit-container h1{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
}
.change-habit-container p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

/* ------Run an Extra main easily--------- */

.extra-run-container{
/* border: 2px solid blueviolet; */
width: 1060px;
margin: 0 auto;
height: 371px;
border-radius: 18px;
background: rgb(34, 34, 34);

}




.extra-run-container h1{
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  margin-left: 54px;
  margin-top: 41px;
}

.extra-run-container p{
  width: 443px;
  height: 72px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-left: 54px;
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
}


.join-now{
  margin-left: 54px;
  
}
.run{
  /* border:5px solid red; */
  border-radius: 16px;
  
}
.run-image{
  width: 366px;
  height: 312px;
  padding: 0px;
  border-radius: 16px;
  margin-top: 30px;
  margin-bottom: 29;
  margin-left: 150px;
  margin-right: 30;
  

}
/* --------------------Training Exercise------------------ */
.training-exercise-parent{
border: 2px solid red;
margin-top: 100px;
margin: 0 auto;
text-align: left;
width: 1060px;


}
.training-exercise{
  width: 671px;
}
.training-exercise h1{
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
}
.training-exercise p{
width: 671px;
height: 48px;
color: rgba(255, 255, 255, 0.5);

}
.training-exercise-images-grid{
 display: grid;
 grid-template-columns: repeat(3, 1fr);

}

.exercise1{
  
  width: 323px;
  height: 218px;
  

}
.exercise2{
 border: 1px solid blueviolet;
  width: 500px;
  height: 218px;
 margin-left: -150px;
 
}

.exercise3{
  
  width: 388px;
  height: 218px;
  margin-left: -50px;
}
.exercise4{

  width: 435px;
  height: 225px;
}
.exercise5{
  
  width: 408px;
  height: 219px;
}
.exercise6{
  
  width: 376px;
  height: 250px;
}
.exercise-common-img{
  width: 100%;
  height: 100%;
}
.training-text-1356{
  color: rgb(255, 32, 32);
  margin-top: -100px;
}
.training-text-24{
  color: aliceblue;
  margin-top: -100px;
}

/* ----------------BMI calculator -----------------*/
.bmi-calculator-content{
  width: 680px;
  margin-top: 80px;
  text-align:left;
  margin: 0 auto;
 
}
.bmi-calculator-content h1{
  font-size: 48px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-align: left;

}
.bmi-calculator-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  letter-spacing: 0.3px;
  /* text-align: left; */
  margin-top: 14px;
}
.calculator-chart h1{
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;

}
.table{
  /* background: rgb(207, 135, 2); */
  border-collapse: collapse;
  color: white;
}
.table td{
  border: 2px solid rgba(190, 11, 11, 0.1);
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);

}
.table th{
  border:2px solid rgba(190, 11, 11, 0.1);
  padding: 5px 10px;
  text-align: left;
  font-size: 16px;
}

.calculator-chart-parent{
  background: rgb(34, 34, 34);
  width: 1440px;
  height: 490px;
  /* gap: 180px; */
  margin: 0 auto;
  justify-content: space-between;
}
.calculator-chart{
  margin-left: 189px;

}


.chart-calculator{  
margin-right: 159px;
}
.chart-calculator h1{
  color: rgb(255, 255, 255);

}
.chart-calculator p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.input-grid
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.common-input{
 border-radius: 8px; 
 height: 38px;
 width: 282px;
 font-size: 16px;
 font-weight: 400;
 padding: 12px 40px 12px 20px;
 background: rgba(255, 255, 255, 0.1);
}
#activity-factor{
 
}

.calculator{
  margin-top:34px ;
  margin-left: 8px;
  
}
/*------------ Meet our team---------- */
.team-parent{
text-align: center;

}

.team-headline h1{
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 14px;
}
.team-headline p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;

}
.team-image-grid-container{
/* border: 1px solid red; */
display: grid;
grid-template-columns: repeat(3, 1fr);
width: 1100px;
height: 710px ;
margin:0 auto;
margin-top: 58px;
background: rgba(255, 255, 255, 0.1);
border-radius: 18px;
padding: 18px;
/* gap: 20px; */

}
.trainer{
  /* border: 1px solid orange; */
  padding: 18px;
 
}

.team-images
{
 width: 100%;
 height: 100%;
 border-radius: 18px;
 

}
.text{
  /* border: 5px solid red; */
  text-align: left;
  margin-top: -100px;
  margin-left: 32px;
  
  

}
.text h3{
  color: white;
  font-size: 16px;
  font-weight: 600px;
}
.text p{
  color: rgb(196, 194, 192);
  font-size: 14px;
}

.first-image .second-image .hird-image .four-image .five-image .six-image
{
  
}

/* ------------------Footer Start---------------- */
.footer{
  height:495px ;
  width: 1440px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  margin-top: 95px;
}
.footer-section{
  justify-content: center;
  margin-bottom: 80px;
  
}
.fitness-footer{
  width: 445px;
}

.fitness-footer h1{
  font-size: 70px;
}
.fitness-footer p{
color: rgba(255,255,255,0.5);
font-size: 14px;
}
.get-started{
width: 200px;
margin-left: 152px;
}
.get-started h1{
font-size: 32px;
color: rgba(255,255,255);
}
.get-started p{
  color: rgba(255,255,255,0.5);
}
.horizontal{
width: 1060px;
margin-bottom: 36px;
}
.rights-reserved{
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
 
}


/* ------------------------------------------------ */


/* .exercise1{
width: 323px;
height: 218px;
margin-left: -2px;

}
.exercise2{
  width: 539px;
  height: 256px;
  margin-left: -154px;
  margin-bottom: -40px;
}
.exercise3{
  width: 288px;
  height: 214px;
  margin-left:-46px;
}
.exercise4{
  width: 435px;
  height: 250px;
  margin-left:-1px;
}
.exercise5{
  width: 398px;
  height: 250px;
  margin-left: -60px ;
}
.exercise6{
  width: 316px;
  height: 250px;
  margin-left: -75px;
/*




 






